
.contact-header {
    text-align: left;
    margin-bottom: 60px;
    font-size: 30px;
    margin-left: 40px;
}

.contact-header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

.contact-header p {
    font-size: 1.2em;
    color: #666;
}

.contact-main {
    padding: 40px 0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 40px;
    background-color: transparent;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.info-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.info-item:hover {
    transform: translateX(2em);
    color: #007bff;
}

.info-item svg {
    min-width: 24px;
    color: #007bff;
}

.info-item p {
    margin: 0;
    line-height: 1.5;
}

.info-item p:first-child {
    color: #666;
    font-size: 0.9em;
}

.contact-form {
    width: 55%;
}

.contact-form form {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.contact-form input,
.contact-form select {
    width: 350px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1em;
    background-color: #fff;
}

.contact-form textarea {
    font-size: 1rem;
    width: calc(50% -10px);
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}
.contact-form select,
.contact-form textarea {
    width: 100%;
}

.contact-form textarea {
    min-height: 120px;
}

.contact-form button {
    width: 100%;
    padding: 15px;
    background-color: #05d833;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-form button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .contact-container {
        flex-direction: column;
        padding: 20px;
    }

    .info-section,
    .contact-form {
        width: 100%;
        margin-top: 30px;
    }

    .contact-form input,
    .contact-form select,
    .contact-form textarea {
        width: 100%;
    }

    .info-item:hover {
        transform: scale(1.05);
    }
}