.footer-container {
    background-color: #fafafa;
    color: #ff0000;
    padding: 40px 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column; /* Change to column for mobile view */
    align-items: center; /* Center align for mobile view */
    max-width: 1300px;
    margin: 0 auto;
    margin-bottom: 0%;
    margin-top: 40px;

  }
  
  .footer-logo-section {
    text-align: center;
    margin-bottom: 20px; /* Add some space below the logo section */
  }
  
  .footer-logo {
    width: 200px;
    height: auto;
  }
  
  .footer-description {
    font-size: 18px;
    color: #000;
    margin: 10px 0;
    max-width: 300px;
  }
  
  .footer-social-icons {
    display: flex;
    gap: 15px;
    margin: 10px 0;
    margin-top: 30px;
    justify-content: left; 
  }
  
  .footer-social-icons a {
  
    color: #007bff;
    font-size: 25px;
  
  }
  
  .footer-links-section {
    display: flex;
    flex-direction: column; /* Change to column for mobile view */
    gap: 20px;
    align-items: center; /* Center align columns */
  }
  
  .footer-column {
    margin-bottom: 20px; /* Add margin between columns */
    text-align: center; /* Center align text */
  }
  
  .footer-column h4 {
    color: #007bff;
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .footer-column ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-column ul li {
    margin-bottom: 10px;
    display: flex;
    align-items: center; /* Center align icons and text */
    justify-content: center; /* Center align list items */
  }
  
  .footer-column ul li svg {
    margin-right: 10px;
    font-size: 12px;
    margin-top: 5px;
    color: #05d833; 
  }
  
  .footer-column ul li a {
    color: #000;
    text-decoration: none;
    font-size: 18px;
  }
  
  .footer-column ul li a:hover {
    color: #007bff;
  }
  
  .footer-contact-info .contact-phone,
  .footer-contact-info .contact-email,
  .footer-contact-info .contact-address {
    color: #000; 
    font-size: 18px;
  }
  
  .footer-contact-info .contact-address {
    font-size: 16px;
    line-height: 1.4;
  }
  
  .footer-copyright {
    text-align: center;
    margin-top: 40px;
    color: #000000;
    font-size: 19px;
    font-weight: 600;
  }
  
  .footer-copyright .span {
    color: #007bff;
    font-size: 19px;
    font-weight: 600;
  }
  
  /* Media Query for larger screens */
  @media (min-width: 768px) {
    .footer-content {
      flex-direction: row;
      justify-content: space-between;
    }
  
    .footer-logo-section {
      text-align: left;
      margin-bottom: 0;
    }
  
    .footer-links-section {
      flex-direction: row;
      align-items: flex-start;
      gap: 40px;
    }
  
    .footer-column {
      text-align: left;
      margin-bottom: 0;
    }
  
    .footer-column ul li {
      justify-content: flex-start;
    }

    .footer-social-icons {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  